<style>
  .card {
  box-shadow: 2px 2px 10px #855d5d;
  padding-top: 5px;
  padding-bottom: 5px;
  /* margin-top: 7px;
  margin-bottom: 7px; */
  margin-left: 5px;
  margin-right: 25px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;

  /* width: 100px;
  height: 150px; */
  width: 4%;
  min-width: 60px;
  height: 73%;
  height: fill-available; /* Standard (not widely supported yet) */
  height: -webkit-fill-available;
  /* text-align: center; */
  /* line-height: 62%; */
  /* line-height: 150px; */
  /* font-size: 150px; */

  /* center text: */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 333%;
  margin-top: 7px;
  margin-bottom: 7px;
  float: left;
  /* cursor: pointer; */
  cursor: var(--pCursor);

  /* background-color: white;
  color: black; */
  animation: unselect .55s;
  /* background-color: black;
  color: white */

  /* text unselectable: */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.card:hover {
  animation: select .5s forwards
}
 .card:not(:hover) { 
  animation: unselect .55s forwards
 }
@keyframes select {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes unselect {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
:root {
  --pHeight: 15%;
  --pCursor: pointer;
}
.cardDeck {
  box-shadow: 2px 2px 10px #855d5d;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 7px;
  margin-bottom: 11px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  /* height: 200px; */
  /* height: 15%; */
  height: var(--pHeight);
  max-height: 200px;
  overflow-x: scroll;
  display: flex;
  white-space: nowrap;
}
.nameTag {
  width: fit-content;
  height: auto;
  box-shadow: 2px 2px 10px #855d5d;
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  animation: none !important;
  cursor: alias;
}
.moveCard {
  /* cursor: var(--pCursor); */
  cursor: col-resize
}
.pGrabbing {
  cursor: grabbing;
}
</style>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<!-- testing elements -->
<!-- <div class="nameTag">Adrian of Hadrian</div>
<div class="cardDeck">
  <div height="150" onmouseenter="" class="card">
    <a>3</a>
  </div>
  <div height="150" class="card">
    <a>5</a>
  </div>
</div>
<div class="nameTag">Adrian of Hadrian</div>
<div class="cardDeck">
  <div height="150" onmouseenter="" class="card">
    <a>4</a>
  </div>
  <div height="150" class="card">
    <a>7</a>
  </div>
</div>
<div class="nameTag">Adrian of Hadrian</div>
<div class="cardDeck">
  <div height="150" onmouseenter="" class="card">
    <a>-</a>
  </div>
  <div height="150" class="card">
    <a>2</a>
  </div>
</div>
<div class="nameTag">Adrian of Hadrian</div>
<div class="cardDeck">
  <div height="150" onmouseenter="" class="card">
    <a>1</a>
  </div>
  <div height="150" class="card">
    <a>5</a>
  </div>
</div> -->

<!-- <div v-for="genre in genres" id="dvdList"> -->
  <!-- <h2 onclick="changeKategorieName(innerText)">{{ genre }}</h2> -->
<div id="votingDiv">
<input id="jokerPlay" style="width: 50px; height: 50px;" type="checkbox"> <a style="font-size: 50px; ">play with jokers</a>
<button onclick="voting();" style="font-size: 50px;">confirm</button>
</div>
<img id="winningState">
<div id="app" >
  <div v-for="(player, i) in players">
    <div class="nameTag">{{ player.name}}</div>
    <div :class="getDeckClasses()">
      <div v-for="(card, i1) in player.cards" :class="getClasses(i, i1, card)" @click="cardClicked(i, i1)" @mousedown="mouseDown(i, i1)" @touchstart="mouseDown(i, i1)" @touchmove="mouseOver(i, i1, $event)" @touchend="mouseUp(i, i1)" @mouseover="mouseOver(i, i1)" @mouseup="mouseUp(i, i1)" v-bind:style="{ 'background-color': card.color, 'color': fontColor[card.color], 'box-shadow': shadows[card.state] }">
        <a>{{ card.nr }}</a>
      </div>
    </div>
  </div>
</div>
<script>
// online stuff: 
window.onbeforeunload = function(){
    console.log("Leave Website");
      sendJson('/Davincicode/logout', {clientId});
      return 'Are you sure you want to leave?';
  };

  async function sendJson(url = "/", body = {}) {
    const rawResponse = await fetch(url, {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(body)
    });
    const content = await rawResponse.json();
    return content;
  }

  // let oldId = localStorage.getItem('CLIENTIDDavincicode');
  const clientId = /*oldId ? oldId : */makeid(10);
  // localStorage.setItem('CLIENTIDDavincicode', clientId);

  var messageListener = null;

  async function register() {
    let response = sendJson('/Davincicode/login', {
      clientId
    });
  }

  register();
  setInterval(getMessages, 200);

  function getMessages() {
    sendJson('/Davincicode/message-queue', {
      clientId
    }).then(messages => {
      if (messages.length > 0) console.log("MESSAGES", messages);
      messages.forEach(msg => messageListener(msg));
    });
  }
  
  // recognize connection lost
  window.addEventListener('online', becameOnline);
  window.addEventListener('offline', () => player.hasConnection = false);
  function becameOnline() {
    player.hasConnection = true;
    room.send({
        message: {
          "type": "getAllData",
          playerId: player.id
        }
    });
  }
  function sendMessage(obj) {
    sendJson('/Davincicode/message', {
      clientId,
      content: obj
    });
  }

  function makeid(length) {
    var result = '';
    var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    var charactersLength = characters.length;
    for (var i = 0; i < length; i++) {
      result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
    return result;
  }


  var room = {
    setOnMessageListener(listener) {
      messageListener = listener;
    },
    send(msg) {
      sendMessage(msg);
    }
  };
  var app = new Vue({
    el: '#app',
    data: {
      playerI: 0,
      state: {},
      players: [
    {
      cards: [
        // {color: "black", nr: 3},
        // {color: "white", nr: 3},
        // {color: "white", nr: 5}
      ],
      name: "player 1"
    },
    {
      cards: [
        // {color: "black", nr: 7},
        // {color: "white", nr: 9},
        // {color: "white", nr: 11}
      ],
      name: "player 2"
    },
    {
      cards: [
      ],
      name: "player 3"
    },
    {
      cards: [
      ],
      name: "player 4"
    }
  ],
      fontColor: {black: "white", white: "black"},
      shadows: {new: "orange 0px 0px 20px 6px", normal: "2px 2px 10px #855d5d", visible: "red 0px 0px 20px 6px", guessMark: "blue 0px 0px 20px 6px"}
    },
    methods: {
      getDeckClasses() {
        return {
          'cardDeck': true,
          'pGrabbing': this.state.state == "moving"
        }
      },
      getClasses(playerI, cardI, card) {
        // TODO: extend
        // TODO: move joker only OK before card reveal (?) 
        var cards = this.players[playerI].cards;
        var pMoveCard = (((card.state == "new" && playerNow == playerI) || this.players[playerI].cards.length <= 5) && card.nr == "-") || (card.state == "new" && playerNow == playerI && [cards[cardI + 1]?.nr, cards[cardI - 1]?.nr].includes("-"));
        return {
          'card': true,
          'moveCard': pMoveCard && this.state.state != "moving",
          'notransition': (this.playerI == playerI || card.visible || playerNow != this.playerI) && (this.playerI != playerI || !pMoveCard)
        }
      },
      cardClicked(pPlayerI, cardI) {
        if (pPlayerI == playerI || playerI != playerNow || this.players[pPlayerI].cards[cardI].visible) return; 
        console.log("card " + cardI + " of player " + playerI + " clicked");
        while (!guess || guess != "-" && !(guess <= 11 && guess >= 0)) {
          var guess = prompt('What is you guess? The numbers range from 0 to 11. Please enter "-" for the joker. ');
          if (guess == undefined) {
            return;
          }
        }
        room.send({
          "type": "guess",
          data: guess,
          playerI: pPlayerI,
          cardI
        });
      },
      mouseDown(pPlayerI, cardI) {
        var cards = this.players[pPlayerI].cards;
        var card = cards[cardI];
        if (pPlayerI == playerI) {
          // moving joker in first round, directly after getting it
          if (((card.state == "new" && playerNow == playerI) || this.players[playerI].cards.length <= 5) && card.nr == "-") {
            document.querySelector(':root').style.setProperty('--pCursor', 'grabbing');
            this.state = {state: "moving", cardI, initialI: cardI};
          }
          // moving joker if a new card is directly next to it
          if (card.state == "new" && playerNow == playerI && [cards[cardI + 1]?.nr, cards[cardI - 1]?.nr].includes("-")) {
            this.state = {state: "moving", cardI, initialI: cardI, neighbour: true};
            document.querySelector(':root').style.setProperty('--pCursor', 'grabbing');
          }
        }
      },
      mouseOver(pPlayerI, cardI, event) {
        if (event != undefined && event.touches[0].clientX != undefined) {
          // get card element the finger is over
          var card = document.elementsFromPoint(event.touches[0].pageX, event.touches[0].clientY).filter(x => (x.className.includes("card") && !x.className.includes("cardDeck")))[0];
          // ignore touchover if card is not detected (finger on cardDeck?)
          if (card == undefined) return;
          // get cardI for following code
          this.players[playerI].cards.forEach((pCard, i) => {
            if (pCard.nr == card.innerText && pCard.color == card.style.backgroundColor) {
              cardI = i;
            }
          });
        }
        var cards = this.players[playerI].cards;
        if (this.state.state == "moving" && (!this.state.neighbour || cards[cardI].nr == "-")) {
          // [ cards[cardI], cards[this.state.cardI] ] = [ cards[this.state.cardI], cards[cardI] ]
          cards[this.state.cardI] = cards.splice(cardI, 1, cards[this.state.cardI])[0];
          this.state.cardI = cardI;
          // [this.players[playerI].cards[cardI], this.players[playerI].cards[this.state.cardI]] = [this.players[playerI].cards[this.state.cardI], this.players[playerI].cards[cardI]];
        }
      },
      mouseUp(pPlayerI, cardI) {
        // TODO: use this.state.cardI instead of cardI param + call mouseUp on cardDeck
        console.log("mouseUp");
        if (this.state.state == "moving") {
          document.querySelector(':root').style.setProperty('--pCursor', 'grab');
          var cards = this.players[pPlayerI].cards;
          var card = cards[cardI];
          if (card.color == "white" && cards[cardI + 1] && cards[cardI + 1].nr == "-" && card.nr == "-") {
            alert("The black joker has to be on the left side of the white joker if you want to place them next to each other. ");
            cards[cardI] = cards.splice(cardI + 1, 1, cards[cardI])[0];
          }
          if (card.color == "black" && cards[cardI - 1] && cards[cardI - 1].nr == "-" && card.nr == "-") {
            alert("The black joker has to be on the left side of the white joker if you want to place them next to each other. ");
            cards[cardI] = cards.splice(cardI - 1, 1, cards[cardI])[0];
          }
          this.state.state = "done";
          room.send({
            "type": "jokerMoved",
            from: this.state.initialI,
            to: cardI,
            playerI: pPlayerI
          });
        }
      },
      processMessage(message) {
        if (message.type == "getCard") {
          if (!this.players[playerI]) this.players[playerI] = {cards: [], name: "player " + playerI}
          this.players[playerI].cards.push(message.data);
        }
        if (message.type == "getOpponentCard") {
          if (message.playerI != playerI) {
            this.players[message.playerI].cards.push(message.data);
          }
        }
        if (message.type == "pullingCards") {
          if (!message.data[1]) message.data[1] = {cards: [], name: "player 1"};
          // if (!message.data[2]) message.data[2] = {cards: [], name: ""};
          // if (!message.data[3]) message.data[3] = {cards: [], name: ""};
          // this.players = message.data;
          this.players = message.data;
          document.querySelector(':root').style.setProperty('--pHeight', (100/(this.players.length) - 10)/*(document.getElementsByClassName("nameTag")[0].getBoundingClientRect().height*this.players.length*2)/screen.height)*/ + '%')
          // updateVueObj(this.players, message.data);
        }
        if (message.type == "revealNr") {
          // var card = this.players[message.playerI].cards[message.cardI];
          // if (playerI == message.playerI) {
          //   card.state = "visible";
          // }
          if (playerI == playerNow && message.correctGuess) {
            this.players[message.playerI].cards[message.cardI].nr = message.data;
            setTimeout(() => {
              if (winningState.src == "") {
                room.send({
                "type": "continueDecision",
                continue: confirm("Would you like to continue guessing?"),
              });
              }
            }, 1500);
          }
          // card.visible = true;
          // card.nr = message.data;
          // updateVueObj(this.players[message.playerI].cards[message.cardI], message.data);
        }
        if (message.type == "showGuess") {
          var card = this.players[playerI].cards[message.cardI];
          card.nr = message.data;
          card.state = "guessMark";
        }
      }
    }
  })
  var state = {};
  var playerI;
  var playerNow = 0;
  room.setOnMessageListener(function(message) {
    if (message.type == "playerNr") {
      playerI = message.data;
      app._data.playerI = message.data;
      var name = localStorage.getItem("nameOnlineGames");
      if (name == undefined) {
        name = prompt("Wie wollen Sie heißen? Der Name wird für die Mitspieler sichtbar sein. ");
        localStorage.setItem("nameOnlineGames", name);
      }
        room.send({
          "type": "namePlayer",
          data: name,
          playerI
        });
    }
    else if (message.type == "playerNow") {
      document.getElementsByClassName("nameTag")[playerNow].style.boxShadow = "2px 2px 10px #855d5d";
      document.getElementsByClassName("nameTag")[playerNow].style.backgroundColor = "white";
      document.getElementsByClassName("nameTag")[playerNow].style.color = "black";
      document.getElementsByClassName("nameTag")[playerI].style.backgroundColor = "blue";
      document.getElementsByClassName("nameTag")[playerI].style.color = "white";
      document.getElementsByClassName("nameTag")[playerI].style.boxShadow = "2px 2px 10px blue";
      playerNow = message.data;
      document.getElementsByClassName("nameTag")[playerNow].style.boxShadow = "green 0px 0px 20px 6px";
      document.getElementsByClassName("nameTag")[playerNow].style.backgroundColor = "green";
      document.getElementsByClassName("nameTag")[playerNow].style.color = "white";
    }
    else if (message.type == "playerLost") {
      if (playerI == message.data) {
        new Audio("https://adi.nicolaiweitkemper.de/Sounds/FAIL%20SOUND%20EFFECT.mp3").play();
        winningState.src = "https://adi.nicolaiweitkemper.de/Bilder/Verloren%20Bildschirm.jpg";
      }
      else {
        var audio = new Audio("https://adi.nicolaiweitkemper.de/Sounds/longEpicVictorySound.mp3");
        audio.currentTime = 9.0;
        audio.play();
        winningState.src = "https://adi.nicolaiweitkemper.de/Bilder/Gewinnerbildschirm.jpeg";
      }
    }
    else if (message.type == "jokerAlert") {
      if (message.data) alert("The game will be played with jokers!");
      else alert("The game will be played without jokers!");
    }
    else {
      app.processMessage(message);
    }
  });
  function updateVueObj(vueObj, newObj) {
    for (const key of Object.keys(newObj)) {
      vueObj[key] = newObj[key];
    }
  }
  function voting() {
    room.send({
        "type": "useJokers",
        data: jokerPlay.checked,
    });
    votingDiv.style.display = "none";
  }
</script>